@page
@model ConsultasModel
@{ ViewData["Title"] = "Consultas"; }
<div class="container-lg m-3 py-3 shadow-lg rounded-3 border">
    <div class="row">
        <div class="col-12">
            <h3>Porcinos registrados</h3>
        </div>
    </div>

    <div class="row">
        <form action="/Custom/Consultas/" method="get" class="col-12">
            <div class="row form-group">
                <div class="col-6 col-sm-5 col-md-5 col-lg-3">
                    <input type="text" class="form-control" name="nombre" id="busquedaTxt" placeholder="Nombre">
                </div>
                <div class="col-2">
                    <input type="submit" class="btn btn-primary" value="Filtrar">
                </div>
            </div>
        </form>
    </div>

    <div class="row px-lg-2 table-responsive-lg">
        <table class="col-12 table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Color</th>
                    <th scope="col">Especie</th>
                    <th scope="col">Raza</th>
                    <th scope="col">Propietario</th>
                </tr>
            </thead>
            <tbody class="table-striped">
                @if(Model.porcinos.Count() > 0)
                {
                foreach (var porcino in Model.porcinos)
                {
                <tr>
                    <th scope="row">@porcino.PorcinoID</th>
                    <td class="text-nowrap"><a asp-page="/Custom/Detalles/DetallePorcino"
                            asp-route-idPorcino="@porcino.PorcinoID">@porcino.Nombre</a></td>
                    <td class="text-nowrap">@porcino.Color</td>
                    <td class="text-nowrap">@porcino.Especie</td>
                    <td class="text-nowrap">@porcino.Raza</td>
                    <td class="text-nowrap">
                        @if(porcino.Propietario != null) {
                        <a asp-page="/Custom/Detalles/DetallePropietario"
                            asp-route-idPropietario="@porcino.Propietario.Persona.PersonaID">
                            @porcino.Propietario.Persona.PrimerNombre @porcino.Propietario.Persona.PrimerApellido</a>
                        } else {
                        <span>Error</span>
                        }
                    </td>
                </tr>
                }
                } else {
                <div class="mt-3 alert alert-secondary" role="alert">
                    No hay resultados
                </div>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="container-lg m-3 py-3 shadow-lg rounded-3 border">
    <div class="row">
        <div class="col-12">
            <h3>Veterinarios registrados</h3>
        </div>
    </div>

    <div class="row px-lg-2 table-responsive-lg">
        <table class="col-12 table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Tarjeta profesional</th>
                    <th scope="col">Primer nombre</th>
                    <th scope="col">Segundo nombre</th>
                    <th scope="col">Primer apellido</th>
                    <th scope="col">Segundo apellido</th>
                </tr>
            </thead>
            <tbody class="table-striped">
                @if(Model.porcinos.Count() > 0)
                {
                foreach (var veterinario in Model.veterinarios)
                {
                <tr>
                    <th scope="row">@veterinario.Persona.PersonaID</th>
                    <td class="text-nowrap">@veterinario.TarjetaProfesional</td>
                    <td class="text-nowrap">@veterinario.Persona.PrimerNombre</td>
                    <td class="text-nowrap">@veterinario.Persona.SegundoNombre</td>
                    <td class="text-nowrap">@veterinario.Persona.PrimerApellido</td>
                    <td class="text-nowrap">@veterinario.Persona.SegundoApellido</td>
                </tr>
                }
                } else {
                <div class="mt-3 alert alert-secondary" role="alert">
                    No hay resultados
                </div>
                }
            </tbody>
        </table>
    </div>
</div>