@page
@model EditPropietarioModel
@{ ViewData["Title"] = "Editar Propietario"; }
<div class="container">
    <div class="row">
        <!-- Contenedor "Header" -->
        <div class="col-12">
            <a class="btn btn-outline-secondary" asp-page="/Custom/Detalles/DetallePropietario"
                asp-route-idPropietario="@Model.propietarioPost.Persona.PersonaID">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                </svg>
                Volver
            </a>
        </div>
        <!-- Contenedor info propietario -->
        <div class="col-12 mt-4 p-3 border rounded-3 shadow">
            <form class="row" method="post">
                <h3 class="col-12 text-truncate">👤 Editar propietario</h3>
                <input type="hidden" asp-for="propietarioPost.PersonaID">
                <div class="col-6 col-lg-5 form-group mb-2">
                    <label>Nombres</label>
                    <div class="row">
                        <div class="col-6 pe-1">
                            <input type="text" asp-for="propietarioPost.Persona.PrimerNombre" class="form-control"
                                placeholder="@Model.propietarioPost.Persona.PrimerNombre">
                            <span asp-validation-for="propietarioPost.Persona.PrimerNombre"></span>
                        </div>
                        <div class="col-6 ps-1">
                            <input type="text" asp-for="propietarioPost.Persona.SegundoNombre" class="form-control"
                                placeholder="@Model.propietarioPost.Persona.SegundoNombre">
                            <span asp-validation-for="propietarioPost.Persona.SegundoNombre"></span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-5 form-group mb-2">
                    <label>Apellidos</label>
                    <div class="row">
                        <div class="col-6 pe-1">
                            <input type="text" asp-for="propietarioPost.Persona.PrimerApellido" class="form-control"
                                placeholder="@Model.propietarioPost.Persona.PrimerApellido">
                            <span asp-validation-for="propietarioPost.Persona.PrimerApellido"></span>
                        </div>
                        <div class="col-6 ps-1">
                            <input type="text" asp-for="propietarioPost.Persona.SegundoApellido" class="form-control"
                                placeholder="@Model.propietarioPost.Persona.SegundoApellido">
                            <span asp-validation-for="propietarioPost.Persona.SegundoApellido"></span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 form-group mb-2">
                    <label asp-for="propietarioPost.Email">Email</label>
                    <input type="text" asp-for="propietarioPost.Email" class="form-control"
                        placeholder="@Model.propietarioPost.Email">
                    <span asp-validation-for="propietarioPost.Email"></span>
                </div>
                <div class="col-12 col-lg-9 form-group mb-2">
                    <label>Direccion</label>
                    <div class="row">
                        <div class="col-2 col-lg-2">
                            <input type="text" asp-for="propietarioPost.Persona.Direccion.Carrera"
                                class="mb-2 form-control"
                                placeholder="@Model.propietarioPost.Persona.Direccion.Carrera">
                            <span asp-validation-for="propietarioPost.Persona.Direccion.Carrera"></span>
                        </div>
                        <div class="col-2 col-lg-2">
                            <input type="text" asp-for="propietarioPost.Persona.Direccion.Calle"
                                class="mb-2 form-control" placeholder="@Model.propietarioPost.Persona.Direccion.Calle">
                            <span asp-validation-for="propietarioPost.Persona.Direccion.Calle"></span>
                        </div>
                        <div class="col-2 col-lg-2">
                            <input type="text" asp-for="propietarioPost.Persona.Direccion.Numero"
                                class="mb-2 form-control" placeholder="@Model.propietarioPost.Persona.Direccion.Numero">
                            <span asp-validation-for="propietarioPost.Persona.Direccion.Numero"></span>
                        </div>
                        <div class="col-6 col-lg-3">
                            <input type="text" asp-for="propietarioPost.Persona.Direccion.Ciudad"
                                class="mb-2 form-control" placeholder="@Model.propietarioPost.Persona.Direccion.Ciudad">
                            <span asp-validation-for="propietarioPost.Persona.Direccion.Ciudad"></span>
                        </div>
                        <div class="col-6 col-lg-3">
                            <input type="text" asp-for="propietarioPost.Persona.Direccion.Departamento"
                                class="mb-2 form-control"
                                placeholder="@Model.propietarioPost.Persona.Direccion.Departamento">
                            <span asp-validation-for="propietarioPost.Persona.Direccion.Departamento"></span>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-warning">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                        Editar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>